<div class="text-center">
 {{!-- <a href="/blog/{{blog.id}}"><h2>{{name}}</h2></a>  --}}
 {{!-- <a href=""><h2>{{name}}</h2></a>  --}}
  <h2>{{blog.name}}</h2>
  <p>{{blog.entry}}</p>
  <p>Created by {{blog.user.name}} on {{format_date blog.date_created}}</p>
</div>


<!-- Loop over each object in the blogs array -->
{{#each blog.comments as |comment| }}
<div class="row mb-4 blog">
  <div class="col-md-5">
    <a href = "/blog/{{comment.id}}"><p>{{comment.entry}}</p></a>
    <p>Created by {{comment.user.name}} on {{format_date comment.date_created}}</p>

  </div>
  <div class="col-md-7">
    <p>
      {{blog.entry}}
    </p>
  </div>
</div>
{{/each}}




{{!-- create comment form/comment here --}}
 
    <div>
      <p>Leave a comment:</p>
      <input type = "hidden" name="blog_id" value="{{ id}}"/>
        <textarea class="form-input commentcontent" name="comment"></textarea>
        <br>
              <button class="btn btn-primary addcomment" type="submit">Submit</button>
    </div>

    <script src="/js/addComment.js"></script>